html {
	
}

body {
	background-color: #57d1b5;
	font-family: 'Titillium Web', sans-serif;
	color: white;
	font-size: 100%;
}

.centered {
	width: 300px;
	height: 300px;
	margin:auto;
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
}

h1 {
	font-size: 5rem;
}

h2 {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

ul li:before {
	content: "\2023 \0020";
} 

a {
	color: white;
}

a:hover {
	color: black;
}