html {
	
}

body {
	background-color: #57d1b5;
	font-family: 'Titillium Web', sans-serif;
	color: white;
}

.centered {
	width: 300px;
	height: 110px;
	margin:auto;
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
}

h1 {
	font-size: 2rem;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

ul li:before {
	content: "\2023 \0020";
} 

a {
	color: white;
}

a:hover {
	color: black;
}

input, textarea {
	font-family: 'Titillium Web', sans-serif;
	font-size: 1rem;
	width: 155px;
	box-sizing: border-box;
}